РазработкаОУМобильная/src/WSReferences/WSMobileTransfer/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="MobileTransferStr"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://v8.1c.ru/8.1/data/core"
		xmlns:xsd2="MobileTransferStr"
		name="MobileTransfer"
		targetNamespace="MobileTransferStr">
	<types>
		<xs:schema xmlns:tns="http://v8.1c.ru/8.1/data/core"
				xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xsd1="MobileTransferStr"
				xmlns:xsd2="http://v8.1c.ru/8.1/data/core"
				targetNamespace="http://v8.1c.ru/8.1/data/core"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:simpleType name="AllowedLength">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Fixed"/>
					<xs:enumeration value="Variable"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="AllowedSign">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Any"/>
					<xs:enumeration value="Nonnegative"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Array">
				<xs:sequence>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BinaryDataQualifiers">
				<xs:sequence>
					<xs:element name="Length"
							type="xs:decimal"/>
					<xs:element name="AllowedLength"
							type="xsd2:AllowedLength"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CompositeID">
				<xs:restriction base="xs:string">
					<xs:pattern value="-?[0-9]+(:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})?"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="DataFillError">
				<xs:sequence>
					<xs:element name="Data"
							type="xs:string"/>
					<xs:element name="DataDescr"
							type="xs:string"/>
					<xs:element name="Text"
							type="xs:string"/>
					<xs:element name="Status"
							type="xsd2:FillCheckErrorStatus"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DataFillErrors">
				<xs:sequence>
					<xs:element name="item"
							type="xsd2:DataFillError"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="DateFractions">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Date"/>
					<xs:enumeration value="Time"/>
					<xs:enumeration value="DateTime"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="DateQualifiers">
				<xs:sequence>
					<xs:element name="DateFractions"
							type="xsd2:DateFractions"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Exception">
				<xs:complexContent>
					<xs:extension base="xsd2:GenericException">
						<xs:sequence>
							<xs:element name="data"
									type="xs:base64Binary"
									minOccurs="0"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="FillCheckErrorStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="FillChecking">
				<xs:restriction base="xs:string">
					<xs:enumeration value="DontCheck"/>
					<xs:enumeration value="ShowError"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="FixedArray">
				<xs:sequence>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FixedMap">
				<xs:sequence>
					<xs:element name="pair"
							type="xsd2:KeyAndValue"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FixedStructure">
				<xs:sequence>
					<xs:element name="Property"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Value"
										nillable="true"/>
							</xs:sequence>
							<xs:attribute name="name"
									type="xs:NMTOKEN"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GenericException"
					abstract="true">
				<xs:sequence>
					<xs:element name="descr"
							type="xs:string"/>
					<xs:element name="inner"
							type="xsd2:GenericException"
							minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="clsid"
						type="xsd2:UUID"
						use="required"/>
				<xs:attribute name="encoded"
						type="xs:boolean"
						default="false"/>
			</xs:complexType>
			<xs:complexType name="KeyAndValue">
				<xs:sequence>
					<xs:element name="Key"/>
					<xs:element name="Value"
							nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LocalStringItemType">
				<xs:sequence>
					<xs:element name="lang"
							type="xs:NMTOKEN"/>
					<xs:element name="content"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LocalStringType">
				<xs:sequence>
					<xs:element name="item"
							type="xsd2:LocalStringItemType"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Map">
				<xs:sequence>
					<xs:element name="pair"
							type="xsd2:KeyAndValue"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Null">
				<xs:restriction base="xs:string">
					<xs:length value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="NumberQualifiers">
				<xs:sequence>
					<xs:element name="Digits"
							type="xs:decimal"/>
					<xs:element name="FractionDigits"
							type="xs:decimal"/>
					<xs:element name="AllowedSign"
							type="xsd2:AllowedSign"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="StandardBeginningDate">
				<xs:sequence>
					<xs:element name="variant"/>
					<xs:element name="date"
							type="xs:dateTime"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="StandardBeginningDateVariant">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Custom"/>
					<xs:enumeration value="BeginningOfThisDay"/>
					<xs:enumeration value="BeginningOfThisWeek"/>
					<xs:enumeration value="BeginningOfThisTenDays"/>
					<xs:enumeration value="BeginningOfThisMonth"/>
					<xs:enumeration value="BeginningOfThisQuarter"/>
					<xs:enumeration value="BeginningOfThisHalfYear"/>
					<xs:enumeration value="BeginningOfThisYear"/>
					<xs:enumeration value="BeginningOfLastDay"/>
					<xs:enumeration value="BeginningOfLastWeek"/>
					<xs:enumeration value="BeginningOfLastTenDays"/>
					<xs:enumeration value="BeginningOfLastMonth"/>
					<xs:enumeration value="BeginningOfLastQuarter"/>
					<xs:enumeration value="BeginningOfLastHalfYear"/>
					<xs:enumeration value="BeginningOfLastYear"/>
					<xs:enumeration value="BeginningOfNextDay"/>
					<xs:enumeration value="BeginningOfNextWeek"/>
					<xs:enumeration value="BeginningOfNextTenDays"/>
					<xs:enumeration value="BeginningOfNextMonth"/>
					<xs:enumeration value="BeginningOfNextQuarter"/>
					<xs:enumeration value="BeginningOfNextHalfYear"/>
					<xs:enumeration value="BeginningOfNextYear"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StandardPeriod">
				<xs:sequence>
					<xs:element name="variant"/>
					<xs:element name="startDate"
							type="xs:dateTime"
							minOccurs="0"/>
					<xs:element name="endDate"
							type="xs:dateTime"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="StandardPeriodVariant">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Custom"/>
					<xs:enumeration value="Today"/>
					<xs:enumeration value="ThisWeek"/>
					<xs:enumeration value="ThisTenDays"/>
					<xs:enumeration value="ThisMonth"/>
					<xs:enumeration value="ThisQuarter"/>
					<xs:enumeration value="ThisHalfYear"/>
					<xs:enumeration value="ThisYear"/>
					<xs:enumeration value="FromBeginningOfThisWeek"/>
					<xs:enumeration value="FromBeginningOfThisTenDays"/>
					<xs:enumeration value="FromBeginningOfThisMonth"/>
					<xs:enumeration value="FromBeginningOfThisQuarter"/>
					<xs:enumeration value="FromBeginningOfThisHalfYear"/>
					<xs:enumeration value="FromBeginningOfThisYear"/>
					<xs:enumeration value="Yesterday"/>
					<xs:enumeration value="LastWeek"/>
					<xs:enumeration value="LastTenDays"/>
					<xs:enumeration value="LastMonth"/>
					<xs:enumeration value="LastQuarter"/>
					<xs:enumeration value="LastHalfYear"/>
					<xs:enumeration value="LastYear"/>
					<xs:enumeration value="LastWeekTillSameWeekDay"/>
					<xs:enumeration value="LastTenDaysTillSameDayNumber"/>
					<xs:enumeration value="LastMonthTillSameDate"/>
					<xs:enumeration value="LastQuarterTillSameDate"/>
					<xs:enumeration value="LastHalfYearTillSameDate"/>
					<xs:enumeration value="LastYearTillSameDate"/>
					<xs:enumeration value="Tomorrow"/>
					<xs:enumeration value="NextWeek"/>
					<xs:enumeration value="NextTenDays"/>
					<xs:enumeration value="NextMonth"/>
					<xs:enumeration value="NextQuarter"/>
					<xs:enumeration value="NextHalfYear"/>
					<xs:enumeration value="NextYear"/>
					<xs:enumeration value="NextWeekTillSameWeekDay"/>
					<xs:enumeration value="NextTenDaysTillSameDayNumber"/>
					<xs:enumeration value="NextMonthTillSameDate"/>
					<xs:enumeration value="NextQuarterTillSameDate"/>
					<xs:enumeration value="NextHalfYearTillSameDate"/>
					<xs:enumeration value="NextYearTillSameDate"/>
					<xs:enumeration value="TillEndOfThisWeek"/>
					<xs:enumeration value="TillEndOfThisTenDays"/>
					<xs:enumeration value="TillEndOfThisMonth"/>
					<xs:enumeration value="TillEndOfThisQuarter"/>
					<xs:enumeration value="TillEndOfThisHalfYear"/>
					<xs:enumeration value="TillEndOfThisYear"/>
					<xs:enumeration value="Last7Days"/>
					<xs:enumeration value="Next7Days"/>
					<xs:enumeration value="Month"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StringQualifiers">
				<xs:sequence>
					<xs:element name="Length"
							type="xs:decimal"/>
					<xs:element name="AllowedLength"
							type="xsd2:AllowedLength"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Structure">
				<xs:sequence>
					<xs:element name="Property"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Value"
										nillable="true"/>
							</xs:sequence>
							<xs:attribute name="name"
									type="xs:NMTOKEN"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Type">
				<xs:restriction base="xs:QName"/>
			</xs:simpleType>
			<xs:complexType name="TypeDescription">
				<xs:sequence>
					<xs:element name="Type"
							type="xs:QName"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="TypeSet"
							type="xs:QName"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="TypeId"
							type="xsd2:UUID"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="NumberQualifiers"
							type="xsd2:NumberQualifiers"
							minOccurs="0"/>
					<xs:element name="StringQualifiers"
							type="xsd2:StringQualifiers"
							minOccurs="0"/>
					<xs:element name="DateQualifiers"
							type="xsd2:DateQualifiers"
							minOccurs="0"/>
					<xs:element name="BinaryDataQualifiers"
							type="xsd2:BinaryDataQualifiers"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="UUID">
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ValueListItemType">
				<xs:sequence>
					<xs:element name="value"
							nillable="true"/>
					<xs:element name="presentation"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="checkState"
							type="xs:decimal"
							minOccurs="0"/>
					<xs:element name="picture"
							minOccurs="0"/>
					<xs:element name="id"
							type="xs:long"
							minOccurs="0"/>
					<xs:element name="formatPresentationSpecified"
							type="xs:boolean"
							minOccurs="0"/>
					<xs:element name="formatPresentation"
							type="xs:string"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueListType">
				<xs:sequence>
					<xs:element name="valueType"
							type="xsd2:TypeDescription"/>
					<xs:element name="availableValues"
							type="xsd2:ValueListType"
							minOccurs="0"/>
					<xs:element name="item"
							type="xsd2:ValueListItemType"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="lastId"
							type="xs:long"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ValueStorage">
				<xs:restriction base="xs:base64Binary"/>
			</xs:simpleType>
			<xs:complexType name="ValueTable">
				<xs:sequence>
					<xs:element name="column"
							type="xsd2:ValueTableColumn"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="index"
							type="xsd2:ValueTableIndex"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="row"
							type="xsd2:ValueTableRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTableColumn">
				<xs:sequence>
					<xs:element name="Name"
							type="xs:NMTOKEN"
							minOccurs="0"/>
					<xs:element name="ValueType"
							type="xsd2:TypeDescription"
							minOccurs="0"/>
					<xs:element name="Title"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="Width"
							type="xs:nonNegativeInteger"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTableIndex">
				<xs:sequence>
					<xs:element name="column"
							type="xs:NMTOKEN"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTableRow">
				<xs:sequence>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTree">
				<xs:sequence>
					<xs:element name="column"
							type="xsd2:ValueTreeColumn"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="row"
							type="xsd2:ValueTreeRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTreeColumn">
				<xs:sequence>
					<xs:element name="Name"
							type="xs:NMTOKEN"
							minOccurs="0"/>
					<xs:element name="ValueType"
							type="xsd2:TypeDescription"
							minOccurs="0"/>
					<xs:element name="Title"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="Width"
							type="xs:nonNegativeInteger"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTreeRow">
				<xs:sequence>
					<xs:element name="row"
							type="xsd2:ValueTreeRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://v8.1c.ru/8.1/data/core"
				xmlns:xs2="MobileTransferStr"
				xmlns:xsd1="MobileTransferStr"
				xmlns:xsd2="http://v8.1c.ru/8.1/data/core"
				targetNamespace="MobileTransferStr"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:import namespace="http://v8.1c.ru/8.1/data/core"/>
			<xs:import namespace="http://v8.1c.ru/8.1/data/core"/>
			<xs:complexType name="Array">
				<xs:complexContent>
					<xs:extension base="xsd1:GroupeProduction"/>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ArrayGroup">
				<xs:sequence>
					<xs:element name="Group"
							type="xsd1:GroupeProduction"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="EdinicyIzmereniya">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName50"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idЕдиницаПоКлассификатору"
							type="xsd2:UUID"
							nillable="true"/>
					<xs:element name="Вес"
							type="xsd1:TypeNumber21_9"/>
					<xs:element name="Объем"
							type="xsd1:TypeNumber15_3"/>
					<xs:element name="Коэффициент"
							type="xsd1:TypeNumber10_3"/>
					<xs:element name="УГМК_Засор"
							type="xs:boolean"/>
					<xs:element name="УГМК_ДополнительныйКоэффициент"
							type="xsd1:TypeNumber15_3"/>
					<xs:element name="idВладелец"
							type="xsd2:UUID"
							nillable="true"/>
					<xs:element name="idВладелецТип"
							type="xsd1:TypeName50"
							nillable="true"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GroupeProduction">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName25"/>
					<xs:element name="ГруппаПродИД"
							type="xs:integer"/>
					<xs:element name="ГруппаПродСокрНаим"
							type="xsd1:TypeName50"/>
					<xs:element name="idЗначениеПараметраПродукции"
							type="xsd2:UUID"
							nillable="true"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Massiv">
				<xs:sequence>
					<xs:element name="object"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Organizaciya">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName50"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="TypeName10">
				<xs:restriction base="xs:string">
					<xs:maxLength value="10"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeName100">
				<xs:restriction base="xs:string">
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeName11">
				<xs:restriction base="xs:string">
					<xs:maxLength value="11"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeName12">
				<xs:restriction base="xs:string">
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeName25">
				<xs:restriction base="xs:string">
					<xs:maxLength value="25"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeName3">
				<xs:restriction base="xs:string">
					<xs:maxLength value="3"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeName4">
				<xs:restriction base="xs:string">
					<xs:maxLength value="4"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeName40">
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeName50">
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeName9">
				<xs:restriction base="xs:string">
					<xs:maxLength value="9"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeNumber10_3">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="10"/>
					<xs:fractionDigits value="3"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeNumber15">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="15"/>
					<xs:fractionDigits value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeNumber15_3">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="15"/>
					<xs:fractionDigits value="3"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeNumber21_9">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="21"/>
					<xs:fractionDigits value="9"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeNumber3">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="3"/>
					<xs:fractionDigits value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeNumber4">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="4"/>
					<xs:fractionDigits value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeNumber5">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="5"/>
					<xs:fractionDigits value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TypeNumber6">
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="6"/>
					<xs:fractionDigits value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ЗначенияСвойствОбъектов">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="УГМК_Идентификатор"
							type="xsd1:TypeName50"/>
					<xs:element name="УГМК_ИдентификаторЧисло"
							type="xsd1:TypeNumber15"/>
					<xs:element name="УГМК_Сортировка"
							type="xsd1:TypeNumber4"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ЗначенияСвойствОбъектовГруппа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="КлассификаторЕдиницИзмерения">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName4"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName25"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="НаименованиеПолное"
							type="xsd1:TypeName100"/>
					<xs:element name="МеждународноеСокращение"
							type="xsd1:TypeName3"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Номенклатура">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName11"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="НаименованиеПолное"
							type="xs:string"
							nillable="true"/>
					<xs:element name="Артикул"
							type="xsd1:TypeName25"
							nillable="true"/>
					<xs:element name="Весовой"
							type="xs:boolean"
							nillable="true"/>
					<xs:element name="idЕдиницаХраненияОстатков"
							type="xsd2:UUID"/>
					<xs:element name="idБазоваяЕдиницаИзмерения"
							type="xsd2:UUID"/>
					<xs:element name="Комментарий"
							type="xs:string"/>
					<xs:element name="Услуга"
							type="xs:boolean"/>
					<xs:element name="Комплект"
							type="xs:boolean"/>
					<xs:element name="idНоменклатураОЦМ_ск"
							type="xsd2:UUID"/>
					<xs:element name="УГМК_ПровереноЭкспертом"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="idВидНоменклатуры"
							type="xsd2:UUID"
							nillable="true"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="НоменклатураГруппа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName11"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="УГМК_ПровереноЭкспертом"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="НоменклатурныеГруппы">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="НоменклатурныеГруппыГруппа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Подразделения">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="idУГМК_СтруктурноеПодразделение"
							type="xsd2:UUID"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Пользователи">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName50"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="idОсновноеПодразделение"
							type="xsd2:UUID"/>
					<xs:element name="ПользовательОперативногоУчета"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПользователиГруппа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName50"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="РабочиеМеста">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName50"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ИмяКомпьютера"
							type="xs:string"/>
					<xs:element name="УГМК_ЭтоТочкаУчета"
							type="xs:boolean"/>
					<xs:element name="СетевойПорт"
							type="xsd1:TypeNumber6"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="РабочиеЦентры">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="idПодразделение"
							type="xsd2:UUID"/>
					<xs:element name="ТребуетсяЗагрузкаПодчиненныхРабочихЦентров"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="РабочиеЦентрыГруппа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="СК_МаркиСплавов">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName25"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="СК_ПродукцияОЦМ">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="idГруппаПродукции"
							type="xsd2:UUID"/>
					<xs:element name="idМаркаСплава"
							type="xsd2:UUID"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="СК_ПродукцияОЦМГруппа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="СК_Состояния">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="СК_СостоянияГруппа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="СерииНоменклатуры">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName50"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="СерийныйНомер"
							type="xs:string"/>
					<xs:element name="idВладелец"
							type="xsd2:UUID"
							nillable="true"/>
					<xs:element name="idВладелецТип"
							type="xsd1:TypeName50"
							nillable="true"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Склады">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="idПодразделение"
							type="xsd2:UUID"/>
					<xs:element name="Комментарий"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="СкладыГруппа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Структура">
				<xs:sequence>
					<xs:element name="МассивДанных"
							type="xsd1:Massiv"/>
					<xs:element name="НомерСообщения"
							type="xs:integer"/>
					<xs:element name="Узел"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ТехнологическиеОперации">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ТехнологическиеОперацииГруппа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName100"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ЭтоГруппа"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="УГМК_ДокументФакт">
				<xs:sequence>
					<xs:element name="Комментарий"
							type="xs:string"/>
					<xs:element name="idОтветственный"
							type="xsd2:UUID"/>
					<xs:element name="idПодразделение"
							type="xsd2:UUID"/>
					<xs:element name="idОрганизация"
							type="xsd2:UUID"/>
					<xs:element name="idСклад"
							type="xsd2:UUID"/>
					<xs:element name="ПоСериям"
							type="xs:boolean"/>
					<xs:element name="idВидОперации"
							type="xsd2:UUID"/>
					<xs:element name="idРабочийЦентр"
							type="xsd2:UUID"/>
					<xs:element name="ПоНоменклатуре"
							type="xs:boolean"/>
					<xs:element name="ПоПаспортамПартии"
							type="xs:boolean"/>
					<xs:element name="ГраницаСмены"
							type="xs:dateTime"/>
					<xs:element name="idСкладПолучатель"
							type="xsd2:UUID"/>
					<xs:element name="idПодразделениеПолучатель"
							type="xsd2:UUID"/>
					<xs:element name="ДляПоиска"
							type="xsd1:TypeName50"/>
					<xs:element name="ДляПредставления"
							type="xsd1:TypeName100"/>
					<xs:element name="Сторно"
							type="xs:boolean"/>
					<xs:element name="ИнформационнаяБазаСоздания"
							type="xsd1:TypeName40"/>
					<xs:element name="ВключенВОбмен"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Номер"
							type="xsd1:TypeName12"/>
					<xs:element name="Дата"
							type="xs:dateTime"/>
					<xs:element name="Проведен"
							type="xs:boolean"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="Продукция"
							type="xsd1:УГМК_ДокументФактПродукция"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="Материалы"
							type="xsd1:УГМК_ДокументФактМатериалы"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="idОтветственныйТип"
							type="xs:string"/>
					<xs:element name="idПодразделениеТип"
							type="xs:string"/>
					<xs:element name="idОрганизацияТип"
							type="xs:string"/>
					<xs:element name="idСкладТип"
							type="xs:string"/>
					<xs:element name="idВидОперацииТип"
							type="xs:string"/>
					<xs:element name="idРабочийЦентрТип"
							type="xs:string"/>
					<xs:element name="idСкладПолучательТип"
							type="xs:string"/>
					<xs:element name="idПодразделениеПолучательТип"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="УГМК_ДокументФактМатериалы">
				<xs:sequence>
					<xs:element name="idРабочийЦентр"
							type="xsd2:UUID"/>
					<xs:element name="Группа"
							type="xsd1:TypeNumber5"
							nillable="true"/>
					<xs:element name="idНоменклатура"
							type="xsd2:UUID"/>
					<xs:element name="idХарактеристикаНоменклатуры"
							type="xsd2:UUID"/>
					<xs:element name="idСерияНоменклатуры"
							type="xsd2:UUID"/>
					<xs:element name="idСостояние"
							type="xsd2:UUID"/>
					<xs:element name="idЕдиницаИзмеренияМест"
							type="xsd2:UUID"/>
					<xs:element name="КоличествоМест"
							type="xsd1:TypeNumber15_3"/>
					<xs:element name="idЕдиницаИзмерения"
							type="xsd2:UUID"/>
					<xs:element name="Коэффициент"
							type="xsd1:TypeNumber10_3"/>
					<xs:element name="Количество"
							type="xsd1:TypeNumber15_3"/>
					<xs:element name="Количество1"
							type="xsd1:TypeNumber15_3"/>
					<xs:element name="ДатаОперации"
							type="xs:dateTime"/>
					<xs:element name="idТара"
							type="xsd2:UUID"/>
					<xs:element name="idГруппаПродукции"
							type="xsd2:UUID"/>
					<xs:element name="idМаркаСплава"
							type="xsd2:UUID"/>
					<xs:element name="ПоСвойствам"
							type="xs:boolean"/>
					<xs:element name="idСклад"
							type="xsd2:UUID"/>
					<xs:element name="idЕдиницаИзмерения1"
							type="xsd2:UUID"/>
					<xs:element name="КоличествоТара"
							type="xsd1:TypeNumber15_3"/>
					<xs:element name="НомерСтроки"
							type="xs:integer"/>
					<xs:element name="idНоменклатураТип"
							type="xs:string"
							nillable="true"/>
					<xs:element name="idХарактеристикаНоменклатурыТип"
							type="xs:string"
							nillable="true"/>
					<xs:element name="idСерияНоменклатурыТип"
							type="xs:string"
							nillable="true"/>
					<xs:element name="idСостояниеТип"
							type="xs:string"
							nillable="true"/>
					<xs:element name="idЕдиницаИзмеренияМестТип"
							type="xs:string"
							nillable="true"/>
					<xs:element name="idЕдиницаИзмеренияТип"
							type="xs:string"
							nillable="true"/>
					<xs:element name="idТараТип"
							type="xs:string"
							nillable="true"/>
					<xs:element name="idЕдиницаИзмерения1Тип"
							type="xs:string"
							nillable="true"/>
					<xs:element name="idМаркаСплаваТип"
							type="xs:string"
							nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="УГМК_ДокументФактПродукция"/>
			<xs:complexType name="УГМК_МаркаСплаваПроизводство">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName50"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="idМаркаСплава"
							type="xsd2:UUID"/>
					<xs:element name="idСтандарт"
							type="xsd2:UUID"/>
					<xs:element name="Активная"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="УГМК_НастройкиРабочихЦентров">
				<xs:sequence>
					<xs:element name="vsОбъектНастройки"
							type="xsd2:ValueStorage"/>
					<xs:element name="ДополнениеИмени"
							type="xsd1:TypeName50"/>
					<xs:element name="vsЗначениеНастроки"
							type="xsd2:ValueStorage"/>
					<xs:element name="Доступно"
							type="xs:boolean"/>
					<xs:element name="Порядок"
							type="xsd1:TypeNumber5"/>
					<xs:element name="ИзмененныйПриоритет"
							type="xs:boolean"/>
					<xs:element name="Приоритет"
							type="xsd1:TypeNumber3"/>
					<xs:element name="ЗначениеНастрокиХранилище"
							type="xsd2:ValueStorage"/>
					<xs:element name="Активность"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="УГМК_СостоянияЗаказа">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName50"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="ТипСостояния"
							type="xsd1:TypeName10"/>
					<xs:element name="idРодитель"
							type="xsd2:UUID"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="УГМК_ТараТехнологическая">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Код"
							type="xsd1:TypeName9"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName25"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="idОрганизация"
							type="xsd2:UUID"/>
					<xs:element name="idНоменклатура"
							type="xsd2:UUID"/>
					<xs:element name="idТипТары"
							type="xsd2:UUID"/>
					<xs:element name="ДляПоиска"
							type="xsd1:TypeName10"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ХарактеристикиНоменклатуры">
				<xs:sequence>
					<xs:element name="id"
							type="xsd2:UUID"/>
					<xs:element name="Наименование"
							type="xsd1:TypeName50"/>
					<xs:element name="ПометкаУдаления"
							type="xs:boolean"/>
					<xs:element name="Вес"
							type="xsd1:TypeNumber15_3"/>
					<xs:element name="Размеры"
							type="xs:string"/>
					<xs:element name="idВладелец"
							type="xsd2:UUID"
							nillable="true"/>
					<xs:element name="idВладелецТип"
							type="xsd1:TypeName50"
							nillable="true"/>
					<xs:element name="ИмяМетаданных"
							type="xs:string"/>
					<xs:element name="Предопределенный"
							type="xs:boolean"/>
					<xs:element name="ПолноеИмяПредопределенныхДанных"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Put">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd1:Array"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Get">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Данные"
								type="xsd2:ValueStorage"
								nillable="true"/>
						<xs:element name="УзелКод"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd1:Структура"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteReg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Данные"
								type="xsd1:Структура"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteRegResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:boolean"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutDocum">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Данные"
								type="xsd1:Структура"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutDocumResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd1:Array"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutReg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Данные"
								type="xsd2:ValueStorage"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutRegResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd2:ValueStorage"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="PutRequestMessage">
		<part name="parameters"
				element="tns:Put"/>
	</message>
	<message name="PutResponseMessage">
		<part name="parameters"
				element="tns:PutResponse"/>
	</message>
	<message name="GetRequestMessage">
		<part name="parameters"
				element="tns:Get"/>
	</message>
	<message name="GetResponseMessage">
		<part name="parameters"
				element="tns:GetResponse"/>
	</message>
	<message name="DeleteRegRequestMessage">
		<part name="parameters"
				element="tns:DeleteReg"/>
	</message>
	<message name="DeleteRegResponseMessage">
		<part name="parameters"
				element="tns:DeleteRegResponse"/>
	</message>
	<message name="PutDocumRequestMessage">
		<part name="parameters"
				element="tns:PutDocum"/>
	</message>
	<message name="PutDocumResponseMessage">
		<part name="parameters"
				element="tns:PutDocumResponse"/>
	</message>
	<message name="PutRegRequestMessage">
		<part name="parameters"
				element="tns:PutReg"/>
	</message>
	<message name="PutRegResponseMessage">
		<part name="parameters"
				element="tns:PutRegResponse"/>
	</message>
	<portType name="MobileTransferPortType">
		<operation name="Put">
			<input name="PutRequest"
					message="tns:PutRequestMessage"/>
			<output name="PutResponse"
					message="tns:PutResponseMessage"/>
		</operation>
		<operation name="Get">
			<input name="GetRequest"
					message="tns:GetRequestMessage"/>
			<output name="GetResponse"
					message="tns:GetResponseMessage"/>
		</operation>
		<operation name="DeleteReg">
			<input name="DeleteRegRequest"
					message="tns:DeleteRegRequestMessage"/>
			<output name="DeleteRegResponse"
					message="tns:DeleteRegResponseMessage"/>
		</operation>
		<operation name="PutDocum">
			<input name="PutDocumRequest"
					message="tns:PutDocumRequestMessage"/>
			<output name="PutDocumResponse"
					message="tns:PutDocumResponseMessage"/>
		</operation>
		<operation name="PutReg">
			<input name="PutRegRequest"
					message="tns:PutRegRequestMessage"/>
			<output name="PutRegResponse"
					message="tns:PutRegResponseMessage"/>
		</operation>
	</portType>
	<binding name="MobileTransferSoapBinding"
			type="tns:MobileTransferPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Put">
			<soapbind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:Put"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="Get">
			<soapbind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:Get"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteReg">
			<soapbind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:DeleteReg"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PutDocum">
			<soapbind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:PutDocum"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PutReg">
			<soapbind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:PutReg"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="MobileTransferSoap12Binding"
			type="tns:MobileTransferPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Put">
			<soap12bind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:Put"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="Get">
			<soap12bind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:Get"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteReg">
			<soap12bind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:DeleteReg"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PutDocum">
			<soap12bind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:PutDocum"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PutReg">
			<soap12bind:operation style="document"
					soapAction="MobileTransferStr#MobileTransfer:PutReg"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="MobileTransfer">
		<port name="MobileTransferSoap"
				binding="tns:MobileTransferSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://10.35.4.172:4443/tou_kav/ws/MobileTransfer.1cws"/>
		</port>
		<port name="MobileTransferSoap12"
				binding="tns:MobileTransferSoap12Binding">
			<soap12bind:address location="http://10.35.4.172:4443/tou_kav/ws/MobileTransfer.1cws"/>
		</port>
	</service>
</definitions>